.heroButtonText {
  width: fit-content;
  color: #FFF;
  text-align: center;
  font-size: 0.875rem;
  font-family: Manrope;
  font-weight: 800;
  border-radius: 3px;
  background: var(--secondary);
  padding: 1rem 2.25rem;
  text-decoration: none;
  margin-top: 0.5rem;
  transition: background 0.2s;
  outline: none;
  border: none;
  cursor: pointer;
}

.heroButtonText:hover {
  background: var(--primary);
}
