.wrapper {
  width: 100%;
  height: 19rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 58.75rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem
}

.title {
  color: var(--white);
  font-size: 2.125rem;
  font-weight: 700;
  max-width: 24.5rem;
}

.link {
  color: var(--secondary);
  font-size: 0.875rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.2s;
  text-decoration: none;
}

.link:hover {
  color: var(--primary);
}
