:root {
  --white: #fff;
  --primary: #002060;
  --secondary: #0076D2;
  --blue-700: #0A489B;
  --blue-300: #8CBCE8;
  --blue-100: #DAE3F3;
  --gray-900: ##9C9C9C;
  --gray-700: #D9D9D9;
  --gray-500: #F5F5F5;
  --gray-300: #EBEBEB;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
