.highlightsSection {
  background-color: var(--gray-300);
  padding-block: 4.5rem;
}

.highlightsSectionContent {
  max-width: 58.75rem;
  margin: 0 auto;
}

.highlightsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.5rem;
}

.highlightsMobile {
  display: none;
}

@media (max-width: 940px) {
  .highlightsGrid {
    display: none;
  }

  .highlightsMobile {
    display: block;
    padding: 1.5rem;
  }

  .button {
    margin-top: 1.75rem;
  }

  .swiperSlide {
    max-width: 320px;
  }

  .swiperContainer {
    padding-bottom: 3rem;
  }

}
