.highlightsSection {
  background-color: var(--gray-300);
  min-height: 60rem;
}

.highlightsSectionContent {
  max-width: 940px;
  margin: 0 auto;
  margin-top: 96px;
}

.highlightsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
  row-gap: 3.4375rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.5rem;
}

@media (max-width: 940px) {
  .highlightsGrid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .button {
    margin-block: 2.5rem;
  }

}
